body {
  font-family: 'Roboto Light', Arial, sans-serif;
  margin: 50px;
  padding: 0;
}

.section {
  max-width: 1300px;
  word-wrap: break-word;
}

h2 {
  font-size: 18px;
}
/* linia separacyjna miedzy sekcjami, poza pierwszą */

.section:not(:first-child) {
  border-top: 1px solid #ccc;
  padding-top:10px;
  margin-top: 30px;
  width: 950px;

}
/* ------ Pierwsza sekcja ze zdjęciem i danymi kontaktowymi --- */
.header{
  display: flex;
}

.main-photo{
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 30px;
}

h1.name {
  margin-top: 20px;
}

p.address {
  margin-top: -22px;
  margin-bottom: 10px;
  color: grey;
}
.phone, .email, .linkedin, .github {
  position: relative;
  margin-left: 20px;
  padding-left: 10px;
  padding-top: 3px;
 
}

.personal-info img{
  max-width: 14px;
  max-height: 14px;
  display: inline;
  margin-right: 3px;

}

.phone img, .email img, .linkedin img, .github img{
  position: absolute;
  margin-left: -22px;
  padding-top: 3px;
}

.linkedin a{
  text-decoration: none;
  color: black;
}

.github a {
  text-decoration: none;
  color: black;
}
/* ----------------TECHNOLOGIE ---------------   */
 .technologies ul{
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: flex-start;
}

.technologies li {
  width: 200px;
}

h4, p{
  margin: 1px 0;
  padding: 0;
}

/* -------Sieci/Protokoły komunikacji------ */

.unordered-list-of-networking-and-protocols {
  padding: 0;
  padding-left: 20px;
  height: 80px;
  list-style: none;
}

.unordered-list-of-networking-and-protocols ul li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.unordered-list-of-networking-and-protocols ul li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


/* -----Środowiska pracy / Systemy operacyjne----- */

.unordered-list-of-operating-systems {
  padding: 0;
  padding-left: 20px;
  height: 130px;
  list-style: none;
}

.unordered-list-of-operating-systems ul li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.unordered-list-of-operating-systems ul li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* ----unordered-list-of-programming-libraries-frameworks--- */

.unordered-list-of-programming-libraries-frameworks {
  padding: 0;
  padding-left: 20px;
  height: 110px;
  list-style: none;
}

.unordered-list-of-programming-libraries-frameworks ul li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.unordered-list-of-programming-libraries-frameworks ul li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* ---- Narzędzia/Technologie --- */

.unordered-list-of-technologies {
  padding: 0;
  padding-left: 20px;
  height: 110px;
  list-style: none;
}

.unordered-list-of-technologies ul li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.unordered-list-of-technologies ul li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* ----------DOŚWIADCZENIE ZAWODOWE ----------- */

.period {
  color: grey;
  font-size: 14px;
}

/* ------------ EDUKACJA ------------------------*/

.education ul li span {
  display: inline-block;
  width: 620px;
}

/* -------------- JĘZYKI ----------------------- */

.languages ul li span {
  display: inline-block;
  width: 70px;
}


/* -------------  KLAUZULA RODO ---------------- */

.clause{
  font-size: 11px;
}